*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: url(background.png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.logo{
    width: 100px;
    cursor: pointer;
}
.nav-bar{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button{
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    background-color: #00545d;
    text-decoration: dotted;
}
.content{
    color: #fbfcfd;
    position:absolute;
    top: 50%;
    left: 8%;
    transform: translatey(-50%);
    z-index: 2;
}
h1{
    font-size: 80px;
    margin: 10px 0 30px;
    line-height: 80px;
}
.sidebar{
    width: 50px;
    height: 100vh;
    background: linear-gradient(#00545d,#000729);
    position: absolute;
    right: 0;
    top: 0;
}
.menu{
    display: block;
    width: 25px;
    margin: 40px auto 0;
    cursor: pointer;
}
.social img , .useful img{
    width: 25px;
    margin:5px auto;
    cursor: pointer;
}
.social{
    width: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.useful{
    width: 50px;
    text-align: center;
    position: absolute;
    bottom: 30px;
}
.bubbles img{
    width: 50px;
    animation: bubble 7s linear infinite;
    margin-right: 35px;
}
.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -140px;
}
@keyframes bubble {
    0%{
        transform:translateY('0');
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-120vh);
        opacity: 0;
    }
    
}
.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 100px;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
    width: 50px;
}
.bubbles img:nth-child(3){
    animation-delay: 3s;
    width: 70px;
}
.bubbles img:nth-child(4){
    animation-delay: 4.5s;
    width: 50px;
}
.bubbles img:nth-child(5){
    animation-delay: 3s;
    width: 65px;
}
.bubbles img:nth-child(6){
    animation-delay: 3s;
    width: 105px;
}
.bubbles img:nth-child(7){
    animation-delay: 7s;
    width: 40px;
}
.bubbles img:nth-child(8){
    animation-delay: 5s;
    width: 30px;
}
.bubbles img:nth-child(9){
    animation-delay: 4s;
    width: 60px;
}
.bubbles img:nth-child(10){
    animation-delay: 4s;
    width: 120px;
}